body {
    font-family: Arial, sans-serif;
    background-color: #1c1c1c;
    color: #ffffff;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: auto;
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    border: none;
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.flight-plan {
    background-color: #333;
    border-radius: 15px;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border: 3px solid white;
}

.flight-plan h3 {
    margin: 0;
}

.flight-plan p {
    margin: 5px 0;
}

.online {
    color: green;
}

.offline {
    color: red;
}