body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    overflow-x: hidden;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
    max-width: 1200px;
}

header {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    padding: 20px;
    z-index: 10;
}

header h1, header p {
    margin: 0;
    text-align: center;
}

/* Grid layout for airport cards */
.airport-list-container {
    margin-top: 20px;
    max-height: calc(100vh - 160px);
    overflow-y: auto;
    padding: 10px 0;
    display: grid; /* Use grid layout */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid with min width */
    gap: 20px; /* Space between cards */
}

.airport-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.airport-card:hover {
    transform: scale(1.05);
}

.airport-name {
    font-size: 1.2em;
    color: #333;
    margin: 10px 0;
}

.airport-icao {
    font-size: 1em;
    color: #555;
}

/* Button styling */
button.card-button {
    margin-top: 15px;
    padding: 10px 20px; /* Adjusted padding for better appearance */
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Added box shadow transition */
    font-size: 1em; /* Adjusted font size */
}

button.card-button:hover {
    background-color: #4cae4c;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added hover shadow effect */
}

/* Custom Scrollbar */
.airport-list-container {
    overflow-y: auto;
    padding-right: 10px; /* Added padding to prevent content from hiding under scrollbar */
}

.airport-list-container::-webkit-scrollbar {
    width: 8px;
}

.airport-list-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.airport-list-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}

.airport-list-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
