* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image:  radial-gradient(#444cf7 0.7px, transparent 0.7px), radial-gradient(#444cf7 0.7px, #e5e5f7 0.7px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 2.5em;
    color: #4A90E2;
}

p {
    font-size: 1.2em;
    color: #7B9A9A;
}

.search-area {
    display: flex;
    align-items: stretch; /* Ensure full height alignment */
    border: 2px solid #4A90E2;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    background-color: #fff;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    height: 60px; /* Set a specific height for the search area */
}

.search-area input {
    flex: 1;
    border: none;
    outline: none;
    padding: 0 15px; /* Horizontal padding only */
    font-size: 1.2em; /* Increased font size for better visibility */
    height: 100%; /* Make input fill the height of the search area */
    border-radius: 30px 0 0 30px;
}

.search-area button {
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 0 30px 30px 0;
    height: 100%; /* Ensure the button takes the full height */
    padding: 0 20px; /* Keep horizontal padding */
    cursor: pointer;
    font-size: 1.2em; /* Increased font size for the button */
    transition: background-color 0.3s;
}

.search-area button:hover {
    background-color: #357ABD;
}
