body {
    font-family: Arial, sans-serif;
    background-color: #001f33; /* Dark blue background */
    color: #ffffff; /* White text color */
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #ffffff; /* White color for the heading */
}

.input-container {
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #00509e; /* Button color */
    color: #ffffff; /* White text */
    cursor: pointer;
}

button:hover {
    background-color: #003d7a; /* Darken button on hover */
}

#mapContainer {
    width: 100%;
    height: 800px;
    margin-top: 20px;
    position: relative;
}

.plane-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
