/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #001f33; /* Dark blue background */
    color: #ffffff; /* White text color */
    margin: 0;
    padding: 20px;
}

h2 {
    text-align: center;
    color: #fff; /* White color for main headings */
}

h3 {
    text-align: center;
    color: #d9d9d9; /* Lighter color for terminal headings */
    margin: 20px 0 10px; /* Margin for spacing */
}

/* Input field styling */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    width: calc(100% - 22px);
    background-color: #003366; /* Darker blue for input */
    color: #ffffff; /* White text for input */
}

/* Result container styling */
#result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Card styles */
.card {
    background-color: #003366; /* Slightly lighter blue for cards */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    margin: 10px;
    padding: 15px;
    width: 250px;
    transition: transform 0.2s, box-shadow 0.2s; /* Transition for hover effects */
}

.card:hover {
    transform: scale(1.05); /* Scale effect on hover */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7); /* Enhance shadow on hover */
}

/* Airline logo styling */
.airline-logo {
    width: 50px; /* Adjust the size as necessary */
    height: auto;
    display: block;
    margin: 0 auto 10px auto;
}

/* Airline name and gate information */
.card h3 {
    text-align: center;
    margin: 10px 0;
    color: #ffffff; /* White text for airline names */
}

.card p {
    text-align: center;
    margin: 0;
    color: #d9d9d9; /* Lighter color for additional text */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
    .card {
        width: 90%; /* Full width on smaller screens */
    }

    input[type="text"] {
        width: calc(100% - 20px); /* Adjust input width */
    }
}
