body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-image: url("bg2.jpg");
	background-size: cover;
    color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.container {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    background-color: #2a2a2a;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-bottom: 40px;
}

.main-button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2em;
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.main-button:hover {
    background-color: #0056b3;
}

.main-button i {
    margin-right: 10px;
}

.logo {
	left: 50%;
	top: 150px;
	width: 20%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.ad-banner {
    width: 728px;
    height: 90px;
    position: absolute; /* Use absolute positioning */
    top: 10px; /* Position 50px from the top */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Adjust position to truly center the element */
    background-size: cover; /* Make sure the background covers the entire banner */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    border: 3px solid #ccc; /* Optional: add a border to the ad */
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: #2a2a2a;
    border-radius: 10px;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.ad-content {
    text-align: center;
    color: white;
    z-index: 2;
    position: relative;
}

/* Example background image */
.ad-banner {
    background-image: url('splat.png'); /* Replace with your background image */
}
